*{
    margin:0;
    font-family: Arial;
    border:border-box; /*this makes sure that the padding or margin given is inside the width and height set*/
}
/*NAVBAR*/
.navbar{
    height:60px;
    background-color:#0f1111;
    color:white;
    display:flex;
    justify-content: space-evenly;
}
/*Box1*/
.nav_logo{
    position:relative;
    right:35px;
    bottom:15px;
    width:160px;
    height:70px;
}
.logo{
    width:100%;
    height:70px;
    background-image: url(Amazon_logo.png);
    background-size: cover;
}
.border-logo{
    position:relative;
    top:20px;
    left:35px;
    height:45px;
    width:89px;
    border:1.5px solid transparent;
}
.border-logo:hover{
    border:1.5px solid white;
}
/*Box2*/
.add-first{
    color:#cccccc;
    font-size:0.85rem;
}
.add-sec{
    font-size:1rem;
}
.add-icon{
    position:relative;
    right:12px;
    display:flex;
    align-items: center;
}
.nav-address{
    position:relative;
    top:10px;
    right:15px;
}
.border-add{
    position:relative;
    bottom:40px;
    height:45px;
    right:14px;
    width:79px;
    border:1.5px solid transparent;
}
.border-add:hover{
    border:1.5px solid white;
}
/*Box3*/
.nav-search{
    position:relative;
    top:10px;
    display: flex;
    height:40px;
    width:620px;
    border-radius:4px;
}
.search-icon{
    position: relative;
    top:10px;
}
.search-select{
    background-color: #f3f3f3;
    width:50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;;
    border: none;
}
.search-inp{
    width:100%;
    font-size:1rem;
    border:none;
}
.search-icon-bg{ 
    display:flex;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.search-icon{
    width:45px;
    font-size:1.2rem;
    position:relative;
    left:9px;
    color:#0f1111
}
.nav-search:hover{
    border:2px solid orange;
}
/*Box4*/
.nav_lang{
    display:flex;
    position:relative;
    top:20px;
    height:50px;
    width:60px;
}
/*Box5*/
.nav-signin{
    position:relative;
    top:10px;
}
span{
    font-size:0.7rem;
}
.nav-sec{
    display: flex;
    font-size:0.85rem;
    font-weight: 700;
}
.fa-solid{
    font-weight:600;
}
.nav-return{
    position:relative;
    top:10px;
}
.border-signin{
    position: relative;
    bottom:40px;
    right:12px;
    height:50px;
    width:140px;
    border:1.5px solid transparent;
}
.border-signin:hover{
    border:1.5px solid white;
}
.border-returns{
    position: relative;
    bottom:40px;
    right:12px;
    height:45px;
    width:80px;
    border:1.5px solid transparent;
}
.border-returns:hover{
    border:1.5px solid white;
}
/*Box6*/
.nav-cart{
    position:relative;
    top:15px;
    font-size:0.85rem;
    font-weight: 700;
}
.nav-cart i{
    font-size:30px;
}
.border-navcart{
    position:relative;
    bottom:40px;
    right:10px;
    height:45px;
    width:85px;
    border:solid 1.5px transparent;
}
.border-navcart:hover{
    border:solid 1.5px white;
}
/*PANEL*/
.panel{
    align-items:center;
    display:flex;
    height:40px;
    background-color: #222f3d;
    width:100%;
    color:white;
}
.panel-ops{
    width:70%;
    font-size: 0.85rem;
}
.panel-options p{
    color:white;
    display: inline;
    margin-left:15px;
}
.panel-deals{
    margin-left:400px;
    font-size:0.9rem;
    font-weight: 700;
}
/*Hero-Section*/
.hero-sec{
    background-image: url(Hero_Image.jpg);
    height:350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end; /*This would make the items i.e the hero-mesg at the end(bottom)*/
}
.hero-message{
    background-color: white;
    color:black;
    height:40px;
    display:flex;
    justify-content: center;/*Aligns the item centre in a row*/
    align-items: center;/*Aligns the item centre in a coloumn*/
    width:80%;
    position:relative;
    bottom:25px;
}
.hero-message a{
    color:#007185;
}
/*Shope-Section*/
.shop-sec{
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(180deg, rgb(255, 212, 220) 0%, rgb(255, 235, 239) 100%);
    flex-wrap: wrap; /*If mutlptiple divs under this div then it would wrap the divs to make sure all the divs are visible in the page*/
}
.box{
    width:23%;
    height:350px;
    background-color:white;
    padding:20px 0px 15px;
    margin-top:25px;
}
.box-img{
    height: 300px;
    width: 260px;
    background-size: cover;
    background-repeat: no-repeat;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p{
    color:#007185;
}
/*Footer*/
footer{
    margin-top: 15px;
}
.foot-panel1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #374758;
    color:white;
    height: 50px;
    font-size: 0.85rem;
}
.foot-panel2{
    background-color: #222f3d;
    color:white;
    height:500px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 20px;
}
.foot-panel2 a{
    font-size: 0.85rem;
    display: block;
    margin-top: 10px;
    color: #dddddd;
}
.foot-panel3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222f3d;
    color:white;
    border-top:0.5px solid white;
    height: 80px;
}
.logo-footer{
    width:130px;
    height: 80px;
    background-image: url("Amazon_logo.png");
    background-size: cover;
}
.footer-lang{
    height:30px;
    width:100px;
    font-size: 0.85rem;
    position: relative;
    top:4px;
    margin-right:10px;
}
.foot-p3-border{
    position: relative;
    bottom:25px;
    right: 10px;
    height:30px;
    width:100px;
    border: 1px solid white;
    border-radius: 3px;
}
.footer-nation{
    height:30px;
    width:100px;
    font-size:0.85rem;
    position:relative;
    top:4px;
}
.foot-panel4{
    background-color: #0f1111;
    color: white;
    height:75px;
    font-size: 0.7rem;
    text-align: center;
}
.pages{
    padding-top:25px;
}
.pages a{
    margin-right:10px;
}
.copyright{
    padding-top:5px;
}